@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}


.logo{

  	background-color: rgb(239, 228, 176);
  	position: absolute; right: 30px;

  	border: thin groove black;
}

.suivant{

	position: relative;
	text-align: center;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	min-height: 10vh;

   	background-color: rgb(239, 228, 176);

   	border: medium ridge black;

}



.image {

   	background-color: rgb(239, 228, 176);

	border: thin groove black;

 }



.présentation {
	position: relative;
	background-color: rgb(239, 228, 176);
	font-size: 20px;
	border: thin groove black;
	margin-bottom: 30px;
	bottom: 180px;
}


body {

    background-color: rgb(153, 217, 234);


}

.glob {
	background-color: rgb(153, 217, 234);
	text-align: center;
	animation-name: bounceIn;
    animation-duration: 2s;
	
}


.bloc {

   	background-color: rgb(239, 228, 176);
   	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	min-height: 130vh;
	border: medium ridge black;

	
}


.image1 {

	position: relative; 
	left: 350px;
	top: 30px;
	


}


.imagegroupe {

	position: relative;
	top: 530px;
	display: flex;
	justify-content: space-around;

}
